name: PDF

on:
  pull_request:
    branches:
      - main
    paths:
      - docs/README.md

jobs:
  build:
    name: draft release for pdf
    runs-on: ubuntu-22.04 # build:pdfが24.04のapparmor(ubuntu)で実行不可なため修正がされるまで22.04で固定する
    timeout-minutes: 10
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - run: npm install
      - name: call build pdf
        run: npm run build:pdf
      - name: create draft
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ github.event.pull_request.title }}
          draft: true
          fail_on_unmatched_files: true
          files: docs/README.pdf
          name: Release ${{ github.ref }}
